<ion-header>
  <ion-toolbar>
    <ion-title class="title">Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-icon name="key" class="key"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="nota" text-center>Se le enviará un correo electronico a la dirección que nos indique para recuperar la contraseña</p>

  <ion-grid>
    <ion-row>
      <ion-col text-center>Introduzca su correo electrónico</ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-input class="text" [(ngModel)]="email" text-center clearInput></ion-input>
      </ion-item>
    </ion-row>


  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success" shape="round" expand="block" class="text capitalize" (click)="resetPassword()">
          Aceptar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" shape="round" expand="block" class="text capitalize" href="/login">Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <br>


</ion-content>