<ion-header>
  <ion-toolbar color="primary" >
    <ion-title>Ejercicio 1</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <ion-button expand="block" (click)="muestraNombre()">Muestra nombre</ion-button>
  <ion-button expand="block" (click)="reset()">Limpia pantalla</ion-button>

  <h2 text-center>{{ name }}</h2>
</ion-content>

<ion-footer text-center>
  <ion-title color="primary" size="small">Designed by @Alegarse</ion-title>
</ion-footer>
