ion-row {
    border: 0.5px solid rgb(44, 44, 44);
    }

ion-col {
    text-align: center;
}

#cabecera {
        color: rgb(221, 221, 231);
        background-color: brown;
        font-weight: bold;
}