<ion-header>
  <ion-toolbar>
    <ion-title>Example grid 3</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button class="expandir" expand="full"></ion-button></ion-col>
      <ion-col class="no-padding">
        <ion-row>
          <ion-col><ion-button expand="full"></ion-button></ion-col>
          <ion-col><ion-button expand="full"></ion-button></ion-col>
        </ion-row>
        <ion-row>
            <ion-col><ion-button expand="full"></ion-button></ion-col>
            <ion-col><ion-button expand="full"></ion-button></ion-col>
            <ion-col><ion-button expand="full"></ion-button></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="full"></ion-button></ion-col>
      <ion-col><ion-button expand="full"></ion-button></ion-col>
      <ion-col><ion-button expand="full"></ion-button></ion-col>
      <ion-col><ion-button expand="full"></ion-button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
