<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejemplos básicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" color="tertiary" href="/example01">Ejemplo 1.Interpolación y filtros</ion-button><br>
    <ion-button expand="block" color="danger" href="/example02">Ejemplo 2.Repetición de un componente</ion-button><br>
    <ion-button expand="block" color="success" href="/example03">Ejemplo 3.Eventos (click)</ion-button><br>
    <ion-button expand="block" color="primary" href="/example04">Ejemplo 4.Entrada de datos con input</ion-button><br>
    <ion-button expand="block" color="dark" href="/example05">Ejemplo 5.Directiva estructural *ngFor</ion-button><br>
    <ion-button expand="block" color="warning" href="/example06">Ejemplo 6.*ngFor y ngModel</ion-button><br>
    <ion-button expand="block" color="tertiary" href="/example07">Ejemplo 7.Directiva *ngFor</ion-button><br>
    <ion-button expand="block" color="danger" href="/example08">Ejemplo 8.Directiva ngIf</ion-button><br>
  </div>
</ion-content>
