<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejemplos de componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Primer componente:</h1>
  <!-- Se importa aqui desde el componente creado-->
  <app-malaga-description></app-malaga-description>

  <ion-item-divider></ion-item-divider>

  <h1>Segundo componente:</h1>
  <app-malaga-image></app-malaga-image>

  <ion-item-divider></ion-item-divider>

  <h1>Tercer componente:</h1>
  <app-malaga-info></app-malaga-info>
</ion-content>
