<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Relación Ejercicios 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <br>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" color="primary" href="/ej1">Ejercicio 1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" color="secondary" href="/ej2">Ejercicio 2</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" color="tertiary" href="/ej3">Ejercicio 3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" color="success" href="/ej4">Ejercicio 4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" color="warning" href="/ej5">Ejercicio 5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" color="danger" href="/ej6">Ejercicio 6</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" color="dark" href="/ej7">Ejercicio 7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" color="light" href="/ej8">Ejercicio 8</ion-button>
      </ion-col>
    </ion-row><br><br>
    <ion-row>
      <ion-col>
        <ion-img src="assets/imgs/Ionic.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
<ion-footer text-center>
  <ion-title color="primary" size="small">Designed by @Alegarse</ion-title>
</ion-footer>