<ion-header>
  <ion-toolbar>
    <ion-title>Repetición de un componente</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  Número aleatorio generado: <app-random-number></app-random-number><br>
  Número aleatorio generado: <app-random-number></app-random-number><br>
  Número aleatorio generado: <app-random-number></app-random-number><br>
  Número aleatorio generado: <app-random-number></app-random-number><br>
  Número aleatorio generado: <app-random-number></app-random-number><br>
  Número aleatorio generado: <app-random-number></app-random-number><br>
  Número aleatorio generado: <app-random-number></app-random-number>

</ion-content>
