<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>3. Carrito compra</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row id="cabecera">
      <ion-col align-self-center>Nombre Producto</ion-col>
      <ion-col align-self-center>Precio Unitario</ion-col>
      <ion-col align-self-center>Cantidad</ion-col>
      <ion-col align-self-center>Subtotal</ion-col>
    </ion-row>
<br>
    <ion-row *ngFor="let art of Carta">
      <ion-col align-self-center>{{ art.item }}</ion-col>
      <ion-col align-self-center>{{ art.price | currency}}</ion-col>
      <ion-col align-self-center>{{ art.quantity }}</ion-col>
      <ion-col align-self-center>{{ art.price * art.quantity | currency }}</ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>
    <br>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>Total: {{ total | currency }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>